<template>
  <div>
    
    <div class="container">
      <a href="https://www.linkedin.com/in/magdalena-k%C4%99dzia/" target="_blank">
        <img class="logo" src="../img/li.png" alt="linkedIn" >
      </a>
      <a href="https://gitlab.com/magdalenakedzia" target="_blank">
        <img class="logo" src="../img/gitlab.png" alt="gitlab">
      </a>
      <a href="https://www.sololearn.com/Profile/9439435" target="_blank">
        <img class="logo" src="../img/sl.png" alt="sololearn">
      </a>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  // name: 'hello',
  data() {
    return {};
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  display: flex;
  justify-content: space-around;
}

.logo {
  max-height: 100px;
}
</style>