<template>
  <div>
    <h2>Wykształcenie</h2>
    <div class="educationDiv">
      <EducationItem :items="School" ></EducationItem>
     
    </div>
  </div>
</template>

<script>
import axios from "axios";
import EducationItem from '@/components/EducationItem'
export default {
    components: { 
      EducationItem: EducationItem
      },
  // name: 'hello',
  data() {
    return {
      School: {}
    };
     },
  mounted() { 
    axios
      .get("http://localhost:3000/")
      .then(response => {
        this.School = response.data[0];
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  padding: 10px;
}

</style>