<template>
<div> 
      <ul :items="item.name" v-for="(item, index) in items" :key="index" >
        <li class="educationTime">{{ item.time }}</li>
        <li class="educationName">{{ item.name }}</li>
        <li class="educationType">{{ item.type }}</li>
        <li class="borderBottom"></li>
      </ul>
</div>
</template>

<script>
import axios from "axios";
export default {
  props: { 
    items: { type: Object }, 
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 15%;
  padding: 10px;
}
.educationTime {
  text-align: right;
}
li {
  padding: 10px;
  margin: 0 15px;
}
.borderBottom {
  border-bottom: 3px solid rgb(15, 1, 80);
}
.educationName {
  font-size: 24px;
}
.educationType,
.educationTime {
  font-style: italic;
  color: rgb(192, 192, 192);
}
ul:last-child .borderBottom {
  border-bottom: 0;
}

</style>