<template>
  <div>
    <h2>Doświadczenie</h2>

<div class="educationDiv">
      <ExperienceItem :items="Experience" ></ExperienceItem>
     
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ExperienceItem from '@/components/ExperienceItem'
export default {
    components: { 
      ExperienceItem: ExperienceItem
      },
  // name: 'hello',
  data() {
    return {
      Experience: {}
    };
     },
  mounted() { 
    axios
      .get("http://localhost:3000/")
      .then(response => {
        this.Experience = response.data[1];
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  padding: 10px;
}


</style>