<template>
  <div class="mainDiv">
    <!-- <img id="photo" src="../img/me.jpg" alt="Zdjęcie przedstawiające autora strony">-->
     <h1>Magdalena Kędzia</h1> <div class="hidde" v-bind:class="{   back  }"  @click="showorhide(4)" > ⬅ Wróć  </div>

    <br>
    <br>
     <div  class="hidde" v-bind:class="{  main  }">
    <div class="photosMainDiv" v-bind:class="{  isActive1, isActive2, isActive3 }">
      <img
        class="photosMain photosMain1"
        @click="myFilter(1)"
        src="../img/1.png"
        alt="Doświadczenie"
      >
      <img
        class="photosMain photosMain2"
        @click="myFilter(2)"
        src="../img/2.png"
        alt="Znane technologie"
      >
      <img
        class="photosMain photosMain3"
        @click="myFilter(3)"
        src="../img/3.png"
        alt="Wykształcenie"
      >
      <br>
      <br>
    </div> 
     <a v-bind:class="{  isActive1}" @click="showorhide(1)" class="experienceA">Doświadczenie</a>
    <a v-bind:class="{  isActive2}" @click="showorhide(2)" class="technologyeA">Znane technologie</a>
    <a v-bind:class="{  isActive3}" @click="showorhide(3)" class="educationA">Wykształcenie</a>
    <br>
    <br>
    <br></div>
    <technologies class="hidde" v-bind:class="{  tech }"/>
    <Experience class="hidde" v-bind:class="{  exp }"/>
    <education class="hidde" v-bind:class="{  edu }"/>

  
    <div class="contactDiv">
      <contact/>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Contact from "@/components/Contact";
import Technologies from "@/components/Technologies";
import Education from "@/components/Education";
import Experience from "@/components/Experience";
export default {
  data() {
    return {
      isActive1: false,
      isActive2: true,
      isActive3: false,
      exp: false,
      tech: false,
      back: false,
      edu: false,
      main: true
    };
  },
  components: {
    Contact: Contact,
    Technologies: Technologies,
    Experience: Experience,
    Education: Education
  },
  methods: {
    myFilter: function(i) {
      this.isActive1 = false;
      this.isActive2 = false;
      this.isActive3 = false;
      if (i == 1) {
        this.isActive1 = true;
      } else if (i == 2) {
        this.isActive2 = true;
      } else if (i == 3) {
        this.isActive3 = true;
      }

      // some code to filter users
    },
    showorhide: function(i) {
      this.exp = false;
      this.tech = false;
      this.edu = false;
      this.main = false;
         this.back = true;
       if (i == 1) {
        this.exp = true;
      } else if (i == 2) {
        this.tech = true;
      } else if (i == 3) {
        this.edu = true;
      }
      else if (i == 4) {
        this.main = true;
         this.back = false;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  padding: 10px;
  font-size: 62px;
   margin-left: 0;
  color: whitesmoke;
  text-align: center;
  margin: 5px;
  background: linear-gradient(0deg, whitesmoke);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 2s;
  text-decoration: underline;
  text-decoration-color: #000058;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.exp, .tech, 
.edu, .main, .back  {
  display: block!important;
  visibility: visible!important;

}
.hidde{
display: none;
visibility: hidden;
}
.back{
  position: fixed;
 
  top: 50px;
  margin-left: 10%;
  font-size: 18px;
  border: 2px solid #000058;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 100%;
  }
}
.educationA {
  margin-left: 100px;
}
.technologyA {
  margin-left: 50px;
}
 a {
  visibility: hidden;
  display: none;
  cursor: pointer;
}
a:hover{
  font-size: 34px;
}
.isActive1,
.isActive2,
.isActive3 {
  visibility: visible;
  display: block;
  text-align: center;
  font-size: 28px;
  color: white;
  margin-top: -80px;
}

.photosMain {
  height: 180px;
}

.isActive1 .photosMain2 {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
  order: 0;
}
.isActive1 .photosMain1 {
  -ms-transform: translateY(-40deg); /* IE 9 */
  -webkit-transform: translateY(-40deg); /* Safari 3-8 */
  transform: translateY(-40px);
  order: 1;
  opacity: 1;
}
.isActive1 .photosMain3 {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
  order: 2;
}
/*  */
.isActive2 .photosMain1 {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
  order: 0;
}
.isActive2 .photosMain2 {
  -ms-transform: translateY(-40deg); /* IE 9 */
  -webkit-transform: translateY(-40deg); /* Safari 3-8 */
  transform: translateY(-40px);
  order: 1;
  opacity: 1;
}
.isActive2 .photosMain3 {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
  order: 2;
}
/*  */
.isActive3 .photosMain1 {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
  order: 0;
}
.isActive3 .photosMain3 {
  -ms-transform: translateY(-40deg); /* IE 9 */
  -webkit-transform: translateY(-40deg); /* Safari 3-8 */
  transform: translateY(-40px);
  order: 1;
  opacity: 1;
}
.isActive3 .photosMain2 {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
  order: 2;
}
.photosMain1,
.photosMain2,
.photosMain3 {
  cursor: pointer;
  padding: 35px;
  opacity: 0.8;
}
img:hover {
  opacity: 1;
}
.photosMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 15px;
}
.contactDiv {
 
  width: 100%;
}
@media screen and (max-width: 913px) {
.back{
  position: static;
  top: 50px;
  margin-left: auto;
    margin-right: auto;
  width: 75px;
  font-size: 18px;
  border: 2px solid #000058;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
   margin-left: 20%;

  font-size: 48px;
  background-size: 100%;
  }
  
}
</style>