<template>
  <div>
    <h2>Znane technologie</h2>
    <div class="educationDiv">
      <ul>
        <li><img class="logo" src="../img/js.png" alt="js"> Javascript (ES6)</li>
        <li><img class="logo" src="../img/html.png" alt="html"> HTML5</li>
        <li><img class="logo" src="../img/css3.png" alt="css"> CSS3</li>
        <li><img class="logo" src="../img/vue.png" alt="vue"> VueJS</li>
        <li><img class="logo" src="../img/jQuery.gif" alt="jQuery"> jQuery</li>
        <li><img class="logo" src="../img/nodejs.png" alt="NodeJS"> NodeJS</li>
        <li><img class="logo" src="../img/git.png" alt="GIT"> GIT</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  // name: 'hello',
  data() {
    return {};
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
    flex-wrap:  wrap ;
  width: 70%;
  margin: 0 15%;
  padding: 10px;
  justify-content: space-evenly
}

li {
  display: flex;
    align-items: center;
    justify-content: center;
  font-size: 18px;
  padding: 10px;
  margin: 10px 15px;
}
.logo{
  height: 60px;
    margin: 0 15px;
}
</style>